

    <%- include('top') %>

    <main>
        <%- include('center-app') %>
    </main>
    <footer class="footer">

    </footer>
</div>


<script type="module" src="/js/main_app.mjs"></script>
</body>
</html>
