<div class="contPage">

    <h1>Главная</h1>

    <% if (user && !user.telegramId) { %>
        <div class="alert alert-warning mt-4">
            <h4>Telegram не привязан</h4>
            <p>Чтобы вносить вес через Telegram бота, привяжите свой аккаунт.</p>
            <a href="https://t.me/<%= botUsername %>?start=<%= user.id %>" class="btn btn-primary">
                Привязать Telegram бот
            </a>
        </div>
    <% } %>
    <a href="/user/698ab21c79062c0864865e37">Ананда</a>

    <a href="/user/69940568a5d4d061885b1ea5">Ирина</a>

    <a href="/user/6992e53ded821e3847ce7ad7">Оля</a>

</div>
