<div class="menu" xmlns="http://www.w3.org/1999/html">
    <a href="/" class="href">Главная</a>
    <a href="/migration" class="href">Миграция</a>

    <a href="/time" class="href">Время</a>

    <a href="/money" class="href">Деньги</a>

    <a href="/boxes" class="href">Шкатулки</a>

    <a href="/monitor" class="href">Монитор</a>

    <a href="/nodes" class="href">Ноды</a>

    <a href="/dev" class="href">dev</a>
</div>