<div class="top">
    <div class="b00">
        Саморазвитие • Здоровье • Бизнес
    </div>

    <a href="/" class="home_anh">
        <span class="home"></span>
        <span class="name">АНАНДА ШАДРИН</span>

    </a>
</div>