<% if (typeof window !== 'undefined') { %>
    <html lang="ru">
    <body>
<% } %>
<%- include('partials/top',{
    user:user,
    stylesheets: typeof stylesheets !== 'undefined' ? stylesheets : [],
    script: typeof script !== 'undefined' ? script : undefined
}) %>
<main>
    <%- include(body) %>
</main>
<footer class="footer">

</footer>

</body>
<!-- suppresses Inspection 'XmlUnboundNsPrefix' -->
</html>
