<% if (typeof window !== 'undefined') { %>
    <html>
    <body>
<% } %>
<%- include('partials/top',{
    user:user
}) %>
<main>
    <%- include(body) %>
</main>
<footer class="footer">

</footer>
<% if (typeof script !== 'undefined') { %>
    <% (typeof stylesheets !== 'undefined' ? stylesheets : []).forEach(href => { %>
        <link rel="stylesheet" href="<%= href %>">
    <% }) %>
    <script type="module" src="<%= script %>"></script>
<% } %>

</body>
<!-- suppresses Inspection 'XmlUnboundNsPrefix' -->
</html>
