<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bots</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/main.css">



</head>
<body>
<h1>Список дел</h1>

<div class="main">
    <div class="elNoteList block">
        <div class="title">Note list</div>
        <button class="elBtLoad">Загрузить с ноушина</button>
        <button class="elBtMigrate">Мигрировать</button>
        <div class="elList"></div>
    </div>

</div>
<script type="module" src="/js/main.mjs"></script>
</body>
</html>