<input type="hidden" id="target-user-id" value="<%= targetUserId %>">
<div id="user-profile" class="">    
    <h1 id="user-name">Загрузка...</h1>

    <div class="canvasBl">
        <canvas id="weight-chart" class="canvas0"></canvas>
    </div>

    
    
    <div class="user-info">
        <h5 class="card-title">Информация о пользователе</h5>
        <p class="card-text">Начальный вес: <span id="weight-start">-</span> кг</p>
        <p class="card-text">Цель: <span id="weight-goal">-</span> кг</p>
        <p class="card-text">Дата цели: <span id="target-date">-</span></p>
    </div>

</div>


