<input type="hidden" id="target-user-id" value="<%= targetUserId %>">
<div id="user-profile" class="">    
    <h1 id="user-name">Загрузка...</h1>

    <div class="canvasBl">
        <canvas id="canvas0" class="canvas canvas0"></canvas>
        <canvas id="canvasH" class="canvas canvas3"></canvas>
        <canvas id="canvasV" class="canvas canvas2"></canvas>
    </div>

    
    
    <div class="user-info">
        <h5 class="card-title">Информация о пользователе</h5>
        <p class="card-text">Начальный вес: <span id="weight-start">-</span> кг</p>
    </div>

</div>


