// Bootstrap functions, variables and mixins
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap Grid & Utilities only
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

@mixin set_image($url) {
  background-image: url("../images/#{$url}");
}


/* Сброс браузерных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: rgba(0, 46, 80, 0.95);
}

/* Базовые настройки */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* обычный */
  line-height: 1.2;
  color: rgba(88, 21, 0, 0.8);
  background: #fff ;
  @include set_image("bg.png");
  font-size: 18px;

  display: flex;
  flex-direction: column; /* Элементы идут друг под другом */
  min-height: 100vh;

  justify-content: space-between;

}
header,main,footer {
  max-width: 576px;
  width: 100%;

  margin: 0 auto;
  background: rgb(243 250 253 / 84%);

  @include media-breakpoint-up(sm) {
    max-width: 800px;

  }
}
main {
  flex-grow: 1;
}
footer {
  background: rgba(187, 211, 227, 0.66);
  height: 10px;
}

/* Контейнер для центровки */
.container {
  width: 100%;


  margin: 0 auto;

  background-size: 100%;
  @include set_image("bgmain.png");
  padding: 0;


}
h1 {
  color: rgba(255, 68, 0, 0.75);
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  position: relative;
  line-height: 0.9;
  padding: 0 2px 4px;

  &:before {
    content: "";
    display: block;
    position: absolute;

    width: 80%;
    height: 1px;
    bottom: 1px;

    background: rgba(89, 0, 0, 0.35);
  }
}


.cont {
  padding: 0 20px 5px;
  @include media-breakpoint-up(md) {
    padding: 0 50px 20px;
  }
}
.login {
  text-align: right;
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  a {

    background: #298bbb;
    padding: 5px 10px;
    margin: 0 0px 0 10px;
    border-radius: 11px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &.in {
      background: #e7673f;
    }

  }
}
.canvasBl {
  //width: 100%;
  height: 500px;
  margin: 10px;
}
.user-info {
  font-size: 12px;
  padding: 10px;
}
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}
.register-card {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}