// Bootstrap functions, variables and mixins
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap Grid & Utilities only
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";


@mixin set_image($url) {
  background-image: url("../images/#{$url}");
}

/* Сброс браузерных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: rgba(0, 46, 80, 0.95);
}

/* Базовые настройки */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* обычный */
  line-height: 1.2;
  color: rgba(88, 21, 0, 0.8);
  background: #fff ;
  @include set_image("bg.png");
  font-size: 18px;

}

/* Контейнер для центровки */
.container {
  width: 100%;
  max-width: 576px;

  margin: 0 auto;
  background: #F0FBFF no-repeat top center;
  background-size: 100%;
  @include set_image("bgmain.png");
  padding: 0;

  @include media-breakpoint-up(sm) {
    max-width: 800px;
  }
}
h1 {
  color: rgba(255, 68, 0, 0.75);
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  position: relative;
  line-height: 0.9;
  padding: 0 2px 4px;

  &:before {
    content: "";
    display: block;
    position: absolute;

    width: 80%;
    height: 1px;
    bottom: 1px;

    background: rgba(89, 0, 0, 0.35);
  }
}


.cont {
  padding: 0 20px 5px;
  @include media-breakpoint-up(md) {
    padding: 0 50px 20px;
  }
}
.login {
  text-align: right;
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  a {

    background: #298bbb;
    padding: 5px 10px;
    margin: 0 0px 0 10px;
    border-radius: 11px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &.in {
      background: #e7673f;
    }

  }
}